DJango>=5.2.6
psycopg2-binary
djangorestframework
djangorestframework-simplejwt
drf-yasg
dj-database-url
gunicorn
whitenoise
celery
django-celery-results
django-extensions
sentry-sdk
django-cors-headers
django-filter
django-redis
